{% extends "base.html" %}
{% block title %}All Blogs – Noise & Code{% endblock %}
{% block content %}
<h1>All Blogs</h1>
<ul>
    {% for post in posts %}
    <li><a href="{{ url_for('blog', blog_id=post.id) }}">{{ post.title or post.idea }}</a> – Views: {{ post.views }}</li>
    {% endfor %}
</ul>

<div class="generate-button">
    <a href="/" class="btn btn-primary">← Back to Home</a>
    <form action="/submit" method="post" style="margin-top: 10px;">
        <input type="hidden" name="idea" value="test idea">
        <input type="hidden" name="emotion" value="test emotion">
        <input type="hidden" name="perspective" value="scientific">
        <button type="submit" class="btn btn-success">Generate Blog</button>
    </form>
</div>
{% endblock %}
